.designline {
    background-color: #C7A17A;
    width: 20%;
    height: 3px;  
    display: flex;
    align-items: center;
    transform: translateX(200%);

}
.menuTitle{
    color: #FFFFFF;
    font-size: 20px;
    padding: 5px;

    font-family:Georgia, 'Times New Roman', Times, serif;
    display: block;
    text-align: center;
    align-items: center;
}
body{
background-repeat: no-repeat;
/* max-height: min-content; */
}
/* 'your-styles.css' */

.inputLabel {
    display: block;
    margin-bottom: 5px;
  }
  
  .inputField {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 16px;
  }
  
